* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(21, 90, 180);
  align-items: center;
  
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 5px solid rgb(40, 79, 204);
}
.navbar h1{
  color: rgb(39, 65, 214);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(110, 226, 87);
}
 h2 {
  margin-bottom: 1rem;
  }
  
  button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
    position: relative;
    background-color: #e76d82;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    font-size: 18px;
    justify-self: center;
    }
  
  
  button.primary {
  background-color: var(--green);
  color: rgb(34, 136, 184);
  }

.content {
  max-width: 600px;
  margin: 40 auto;
  padding: 20px;
  display: flex;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  }

  main {
    padding: 0 1rem;
    }
    
    .new-dog-form {
    padding: 2rem 1rem;
    margin: 2rem 0;
    background-color: rgba(181, 250, 181, 0.5);
    }
    
    .new-dog-form form {
    display: flex;
    justify-content: center;
    }
    
    .new-dog-form input {
    margin-right: 2rem;
    flex: 1;
    }
    
    .new-dog-form button {
    width: 150px;
    }
    
    .searchbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    }
    
    label {
    font-weight: bold;
    display: block;
    }
    
    input {
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
    }
    
    input:focus {
    outline: none;
    border-bottom: 2px solid var(--green);
    }
    
    .cards {
    list-style: none;
    }
    
    .card {
    margin: 1rem;
    
    }
    
    .card img {
    width: 100%;
    }
    
    .card button {
    margin-top: 0.5rem;
    }
    
    @media (min-width: 640px) {
    .cards {
    display: flex;
    flex-wrap: wrap;
    }
    
    .card {
    width: calc(100% - 2rem);
    
    }
    }
    
    @media (min-width: 1024px) {
    .card {
    width: calc(100% - 2rem);
    }
    }
    
    @media (min-width: 1200px) {
    .card {
    width: calc(100% - 2rem);
    }
    }
    
    .dog-lover {
      justify-self: center;
      height: 12rem;

      }

      .del-btn {
        position: relative;
        background-color: #e04b52;
        border: none;
        border-radius: 5px;
        height: 3rem;
        width: max-content;
        color: whitesmoke;
        font-size: 18px;
        justify-self: center;
        }

        .like-btn {
          position: relative;
          background-color: #41b831;
          border: none;
          border-radius: 5px;
          height: 3rem;
          width: max-content;
          color: whitesmoke;
          font-size: 15px;
          justify-self: center;
          }


        
        .buttonContainer {
        text-align: center;
        padding: 1rem;
        }
        
        button:hover {
        background-color: whitesmoke;
        border: #e04b52 solid 1px;
        color: #e04b52;
        }
      